[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin: 0;
}

.iconpicker-item{
    display: flex;
    justify-content: center;
    align-items: center;
}